<div class="category">
  
  <h2>Add a new Transaction Type</h2>

  <form action="/categories" method="post">
    <label for="cat_name">Category Name:</label>
    <input type="text" name="cat_name">
    <label for="budget">Set Spend Limit:</label>
    <input type="currency" name="budget">
    
    <input type="submit" value="Add Category">
  </form>

</div>
