<h1>Add a new Transaction Type</h1>

  <h2>Fill in the form below to add a new Transaction Type and set a Spend Limit</h2>
  
    <form action="/categories" method="post">
    <div class="form">
      <label for="cat_name">Category Name:</label>
      <input type="text" name="cat_name">
      
      <br>
      <br>

      <label for="budget">Set Spend Limit:</label>
      <input type="currency" name="budget">
    
      <br>
      <br>
    
      <input type="submit" value="Add Category">
    </form>
    </div>
