<h2>Edit Merchant</h2>

<form action="/merchants/<%= @merchant.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="mer_name">Merchant Name:</label>
  <input type="text" name="mer_name" value="<%= @merchant.mer_name %>">
  <br><br>
  <input type="submit" value="Update Merchant">
</form>