<h1>List of Merchants</h1>

  <h2>Click on a Merchant name to see more details</h2>

  <table class="center" border="3" style="width:50%">
    <tr align="center">
      <th>Name</th>      
    </tr>
    <% @merchants.each do |merchant| %>
    <tr align="center">
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.mer_name() %></a></td>
    </tr>
    <% end %>    
  </table>