<div class="merchant">
  
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/merchants">List of Merchants</a></li>
      </ul>
    </nav>
  
  <h2>Add a new Merchant</h2>

  <form action="/merchants" method="post">

    <label for="mer_name">Merchant Name:</label>
    <input type="text" name="mer_name">

    <br>
    <br>
    
    <input type="submit" value="Add Merchant">
  </form>

</div>
