<div class="merchant">
  
  <h2>Add a new Merchant</h2>

  <form action="/merchants" method="post">
    <label for="mer_name">Merchant Name:</label>
    <input type="text" name="mer_name">
    
    <input type="submit" value="Add Merchant">
  </form>

</div>
