<h1>Add a new Merchant</h1>

<h2>Fill in the form below to add a new Merchant.</h2>

  <form action="/merchants" method="post">
    <div class="form">

    <label for="mer_name">Merchant Name:</label>
    <input type="text" name="mer_name">

    <br>
    <br>
    
    <input type="submit" value="Add Merchant">
    </div>
  </form>
