<h1><%= @merchant.mer_name() %></h1>

<div class="wrapper">
  <div class="button">
    <form method="link" action="/merchants/<%= @merchant.id %>/transactions">
      <input type="submit" value="List Merchant Transactions">
    </form>
  </div>

  <div class="button">
    <form method="link" action="/merchants/<%= @merchant.id %>/edit">
      <input type="submit" value="Edit Merchant">
    </form>
  </div>

  <h4>If you are no longer using this Merchant, you can delete them by clicking the button below.</h4>

  <div class="button">
    <form action="/merchants/<%= @merchant.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Merchant">
    </form>
  </div>
</div>