<div class="home">

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/categories">Transaction Types</a></li>
      <li><a href="/purchases">List of Transactions</a></li>
    </ul>
  </nav>

<h1>Welcome to Moolah</h1>

<h3>I am "Connor" your Cash Cow and I will be keeping an eye on your spending, udderstand?</h3>
  
</div>