<div class="home">

  

<h1 align="center">Welcome to Moolah!</h1>

<h2 align="center">I am "Connor" your Cash Cow. I will be keeping an eye on your spending, udderstand?</h2>
<h2 align="center">OK lets grab the bull by the horns and get you set up for your journey ahead..</h2>


  
</div>