<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,600italic,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <title>Moolah!</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  
  <main>
    <%= yield %>
  </main>

</body>
</html>