<!DOCTYPE html>
<html>
<head>
  <title>Moolah!</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/categories">Transaction Types</a></li>
      <li><a href="/purchases">List of Transactions</a></li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>

</body>
</html>