<h1>Budget Check</h1>

<h2>This is how things are looking at the moment, keep an eye on this tabel to make sure you are keeping within your allotted spending limits</h2>

<h3>Total by Category</h3>

<table class="center" border="3" style="width:50%">
  <tr align="left">
    <th>Type</th>
    <th style="text-align:right">Allowance</th>
    <th style="text-align:right">Current Spending</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.cat_name %></td>
      <td style="text-align:right">£<%= '%.2f'% category.budget %></td>
      <td style="text-align:right"<%= @analysis.allowance_condition( category.budget, category.id ) %>>
        £<%= '%.2f'% @analysis.total_category_spend( category.id ) %>    
      </td>
    </tr>
  <% end %>
</table>