body {
  font-family: 'Poiret One', cursive;
  background-color: #b39eb5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #373854;
}

li {
  float: left;
}

li a {
display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover {
  background-color: #111;
}

tr:nth-child(even) {
  background-color: #fff;
}

th {
  background-color: #493267;
  color: #FFFFFF;
}

tfoot {
  background-color: #493267;
  color: #FFFFFF;
}

/* conditional formats */

.green {
  background-color: #00d27f;
}

.red {
  background-color: #fe5757;
}