body {
  padding: 0;
  margin: 0 5px;
  overflow-y: scroll;
  font-family: 'Poiret One', cursive;
  background-image: url("../img/HiCow3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  background-position: right;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;
}

table.center {
  margin-left: 0;
  margin-right: auto;
}

#nav {
  background-color: #373854;
}

#nav_wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#nav ul li {
 display: inline-block;
}

#nav ul li:hover {
  background-color: #b39eb5;
}

#nav ul li img {
  vertical-align: middle;
  padding-left: 5px;
}

#nav ul li a,visted {
  color: #FFFFFF;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#nav ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

#nav ul li:hover ul {
  display: block;
}

#nav ul ul {
  display: none;
  position: absolute;
  background-color: #b39eb5;
}

#nav ul ul li {
  display: block;
}

#nav ul ul li a,visited {
  color: #FFFFFF;
}

#nav ul ul li a:hover {
  color: #777696;
}

tr {
  background-color: #efeff2;
}

tr:nth-child(even) {
  background-color: #aa98a9;
}

th {
  background-color: #493267;
  color: #FFFFFF;
}

tfoot tr {
  background-color: #493267;
  color: #FFFFFF;
}

/* conditional formats */

.green {
  background-color: #00d27f;
}

.red {
  background-color: #fe5757;
}

.form {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin-left: 0;
  margin-right: auto;
  position: relative;
  width: 550px;
  height: 450px;
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/*.wrapper {
  text-align: center;
}*/

.button {
  width: 100px;
  color: #fff;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}

.button:hover {
  background: #fff;
  color: #09c;
}