<div class="account">
  
  <h2>Add a new Account</h2>

  <form action="/accounts" method="post">
    <label for="acc_num">Account Number:</label>
    <input type="text" name="acc_num">
    <label for="acc_name">Account Handle:</label>
    <input type="text" name="acc_name">
    <label for="balance">Opening Balance:</label>
    <input type="currency" name="balance">

    <input type="submit" value="Add Account">
  </form>

</div>
