<h1>Add a new Account</h1>

<h2>Fill in the form below to add a new a bank account to your collection.</h2>

  <form action="/accounts" method="post">
  <div class="form">
    <label for="acc_num">Account Number:</label>
    <input type="text" name="acc_num">

    <br>
    <br>

    <label for="acc_name">Account Nickname:</label>
    <input type="text" name="acc_name">
    
    <br>
    <br>

    <label for="balance">Opening Balance:</label>
    <input type="currency" name="balance">

    <br>
    <br>

    <input type="submit" value="Add Account">
  </div>
  </form>
